footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: 0.25rem;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.bg-blue {
	background: #3282f7 !important;
}

.bg-green {
	background: #68d9a4 !important;
}

.bg-red {
	background: #ed6454 !important;
}

.bg-grey-light {
	background: #e7e7e7 !important;
}

.form-Maxwidth {
	width: 1240px;
}

.form-control:focus {
  color: grey;
}

.card-Width {
	width: 380px !important;
}

.card-Height {
	height: 186px;
	max-height: 186px;
}

.font-Lato18 {
	font-family: Lato, sans-serif;
  font-style:normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.font-Lato12 {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

.font-Roboto12 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

.Bold {
	font-weight: 700;
}

.header-titre {
	color: #d04f4f;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 47px;
}

.header-logo {
	width: 50px;
}

#btnIngredients:hover,
 #btnAppliances:hover,
  #btnUstensils:hover,
   #closetag:hover {
  cursor: pointer;
}

.input-Search {
	border: none;
	border-radius: 5px!important;
	background-color: #e7e7e7 !important;
	height: 69px;
}

.input-Search::placeholder {
	font-family: Lato;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.btn-Search {
	position: absolute;
	right: 2rem;
	top: 1rem;
	z-index: 5;
	cursor: pointer;
	border: none;
	background: #e7e7e7;
	height: 40px;
}

.input-Filters {
	border: none;
	border-radius: 5px!important;
	color: #ffffff;
	height: 69px;
}

.input-Filters::placeholder {
	color: #ffffff;
	font-weight: 700;
}

.btn-Filters {
	position: absolute;
	right: 1.5rem;
	top: 2rem;
	z-index: 5;
	border: none;
	color: #ffffff;
	height: 20px;
}

.input-Format {
  position: relative;
	width: 170px;
	padding: 12px;
}

.ingredients-extendedwidth {
  width: 760px;
}

.appliances-extendedwidth {
  width: 626px;
}

.ustensils-extendedwidth {
  width: 738px;
}

.ingredients-list-item,
 .appliances-list-item,
  .ustensils-list-item {
  cursor: pointer;
}

#listIngredients,
 #listAppliances,
  #listUstensils {
  display: none;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  align-items: center; 
  gap: 0.5rem 5rem;
  position: absolute;
  top: 75%;
  left: 2%;
/*  max-width: 666px; */
  max-width: 734px;
  z-index: 10;
}

.items-display {
  display: grid!important;
}

.container-Recipes {
	width: 95%;
	margin: auto;
}

.card-Recipe-name {
  width: 230px;
  margin-bottom: 0!important;
}

.card-Recipe-ingredients {
  width: 171px;
	height: 111px;
  display: block;
}

.card-Recipe-description {
  width: 171px;
	height: 111px;
	overflow: hidden;
	text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;  
}

.row-Recipes {
	justify-content: space-between;
}

.blockTags-item {
  height: 37px;
  border: none;
	border-radius: 5px;
  color: white;
  padding: 0 0.5rem;
  margin-right: 1rem;
}

/* Responsive */
@media (max-width: 1300px) {
	/* Au passage sur deux colonnes, recentrer les cards des recettes */
	.row-Recipes {
		justify-content: space-around;
	}
}
