/**********************************************************************************************/
/* Styles de base                                                                             */
/**********************************************************************************************/

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.bg-blue {
	background: #3282f7 !important;
}

.bg-green {
	background: #68d9a4 !important;
}

.bg-red {
	background: #ed6454 !important;
}

.bg-grey-light {
	background: #e7e7e7 !important;
}

.c-white {
  color: white!important;
}

.font-Lato18 {
	font-family: Lato, sans-serif;
  font-style:normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.font-Lato12 {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

.font-Roboto12 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

.Bold {
	font-weight: 700;
}

.Op {
	opacity: 0.5;
}

.header-titre {
	color: #d04f4f;
	font-size: 36px;
	font-weight: 700;
	font-style: normal;
	line-height: 47px;
}

.header-logo {
	width: 50px;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: 0.25rem;
}

/**********************************************************************************************/
/* Styles de formulaire de recherche et d'affichage des recettes                                                           */
/**********************************************************************************************/

.form-Maxwidth {
	width: 1240px;
}

.form-control:focus {
  color: grey;
}

.card-Format {
	height: 186px;
	max-height: 186px;
	border-radius: 0 0 6px 6px;
}

#btnIngredients:hover,
 #btnAppliances:hover,
  #btnUstensils:hover,
   #closetag:hover {
  cursor: pointer;
}

.input-Search {
	border: none;
	border-radius: 5px!important;
	background-color: #e7e7e7 !important;
	height: 69px;
}

.input-Search::placeholder {
	font-family: Lato;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.btn-Search {
	position: absolute;
	right: 2rem;
	top: 1rem;
	z-index: 5;
	cursor: pointer;
	border: none;
	background: #e7e7e7;
	height: 40px;
}

.input-Filters {
	border: none;
	border-radius: 5px!important;
	color: #ffffff;
	height: 69px;
}

.input-Filters::placeholder {
	color: #ffffff;
	font-weight: 700;
}

.input-Filters.change::placeholder {
	opacity: 0.5;
}

.btn-Filters {
	position: absolute;
	right: 1.5rem;
	top: 2rem;
	z-index: 5;
	border: none;
	color: #ffffff;
	height: 20px;
}

.input-Format {
  position: relative;
	width: 194px;
	padding: 12px;
}

.ingredients-extendedwidth {
  width: 760px;
}

.appliances-extendedwidth {
  width: 626px;
}

.ustensils-extendedwidth {
  width: 737px;
}

.ingredients-list-item,
 .appliances-list-item,
  .ustensils-list-item {
  cursor: pointer;
}

.listIngredients {
  display: none;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
	border-radius: 0 0 5px 5px;
  align-items: center;
  gap: 0.5rem 5rem;
  position: absolute;
  top: 75%;
	width: 737px;
  z-index: 10;
	max-height: 360px;
	overflow-y: scroll;
	scrollbar-width: none;
}

.inputList {
  grid-template-columns: repeat(1, 2fr)!important;
  gap: 0.5rem 2rem!important;
	max-width: 246px!important;
}

.input-extendedwidth {
	width: 269px!important;
}

.listAppliances {
	display: none;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
	border-radius: 0 0 5px 5px;
  align-items: center;
  gap: 0.5rem 5rem;
  position: absolute;
  top: 75%;
  width: 603px;
  z-index: 10;
	max-height: 360px;
	overflow-y: scroll;
	scrollbar-width: none;
}

 .listUstensils {
	display: none;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
	border-radius: 0 0 5px 5px;
  align-items: center;
  gap: 0.5rem 4rem;
  position: absolute;
  top: 75%;
  width: 714px;
  z-index: 10;
	max-height: 360px;
	overflow-y: scroll;
	scrollbar-width: none;
}

.items-display {
  display: grid!important;
}

.container-Recipes {
	width: 95%;
	margin: auto;
}

.card-Recipe-name {
  width: 230px;
  margin-bottom: 0!important;
}

.card-Recipe-ingredients {
  width: 171px;
	height: 111px;
  display: block;
}

.card-Recipe-description {
  width: 171px;
	height: 111px;
	overflow: hidden;
	text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;  
}

.row-Recipes {
	justify-content: space-between;
}

.blockTags-item {
  height: 37px;
  border: none;
	border-radius: 5px;
  color: white;
  padding: 0 0.5rem;
  margin-right: 1rem;
}

#noRecipes {
  font-size: 1.5rem;
  width: auto;
  margin: 2rem auto;
  color: #D04F4F;
}

/**********************************************************************************************/
/* Media queries pour le responsive                                                           */
/**********************************************************************************************/
@media (max-width: 1300px) {
	/* Au passage sur deux colonnes, recentrer les cards des recettes */
	.row-Recipes {
		justify-content: space-around;
	}
}

@media (max-width: 780px) {
	/* Au passage sur deux colonnes, ajuster les largeurs */
	.listIngredients {
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 1fr;
		gap: 0.5rem 2rem;
		max-width: 553px;
	}

	.ingredients-extendedwidth {
		width: 576px;
	}

	.listAppliances, .listUstensils {
		grid-template-columns: repeat(2, 2fr);
		grid-template-rows: 1fr;
		gap: 0.5rem 2rem;
		max-width: 510px;
	}

	.appliances-extendedwidth, .ustensils-extendedwidth {
		width: 533px;
	}

}

@media (max-width: 585px) {
	/* Au passage sur une colonne, ajuster les largeurs */
	.listIngredients {
		grid-template-columns: repeat(1, 2fr);
		grid-template-rows: 1fr;
		gap: 0.5rem 2rem;
		max-width: 247px;
	}

	.ingredients-extendedwidth {
		width: 270px;
	}

	.listAppliances, .listUstensils {
		grid-template-columns: repeat(1, 2fr);
		grid-template-rows: 1fr;
		gap: 0.5rem 2rem;
		max-width: 247px;
	}

	.appliances-extendedwidth, .ustensils-extendedwidth {
		width: 270px;
	}

}